:root {
  /*
  --background-color: black;
   --accent: orange;
  --container-color: #333;
  --text-color: white;
  */

  --background-color: black;
  --accent: #555;
  --container-color: #111;
  --text-color: white;
  --link-color: orange;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

button:not(:disabled) {
  cursor: pointer;
}

label {
  user-select: none;
  font-size: 14px;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: sub;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

html,
body {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#about-dialog {
  max-width: 500px;
  margin-top: auto;
  background: var(--container-color);
  color: var(--text-color);
  border: 2px solid var(--accent);
  padding: 8px 16px;
  top: 0;
  bottom: 0;
  max-height: 90vh;
  overflow-y: auto;
}

.about-section-body {
  padding-left: 16px;
}

.about-listing {
  display: flex;
  flex-direction: row;
}

.about-listing .links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#about-dialog h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: inherit;
  font-weight: inherit;
}

.icon-button {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
}

.icon-button:disabled {
  opacity: 0.5;
}
